.field-with-simplemde .editor-toolbar {
  padding: 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid #EFEFEF;
  background: white;
  opacity: 1;
  border-radius: 0;
  margin-left: 2px;
  margin-right: 2px;
  position: sticky;
  top: 0px;
  z-index: 10; }
  .field-with-simplemde .editor-toolbar .editor-toolbar-inner {
    white-space: nowrap;
    max-width: calc(100vw - 3em);
    overflow: auto; }
  .field-with-simplemde .editor-toolbar:before, .field-with-simplemde .editor-toolbar:after {
    display: none; }
  .field-with-simplemde .editor-toolbar a {
    color: #777777 !important;
    border: none;
    border-radius: 0;
    font-size: 14px; }
    .field-with-simplemde .editor-toolbar a:hover {
      background: none;
      border: none;
      color: black !important; }
    .field-with-simplemde .editor-toolbar a:focus {
      outline: none; }
    .field-with-simplemde .editor-toolbar a.fa-header-1:after, .field-with-simplemde .editor-toolbar a.fa-header-2:after, .field-with-simplemde .editor-toolbar a.fa-header-3:after {
      font-size: 11px;
      top: 1px; }

.field-with-simplemde.tabs-helper .editor-toolbar {
  top: 63px; }

.field-with-simplemde .CodeMirror {
  border-radius: 0;
  border: none;
  padding-top: 43px;
  margin-top: -33px;
  border: 2px solid #ddd; }
  .field-with-simplemde .CodeMirror.CodeMirror-focused {
    border-color: #8dae28; }
  .field-with-simplemde .CodeMirror.CodeMirror-over {
    border-color: black; }
  .field-with-simplemde .CodeMirror .CodeMirror-code .cm-kirbytag {
    background: rgba(141, 174, 40, 0.2);
    border-radius: 2px; }
  .field-with-simplemde .CodeMirror .cm-formatting {
    opacity: .5; }

@media screen and (max-height: 700px), screen and (max-width: 50em) {
  .field-with-simplemde .editor-toolbar {
    position: relative;
    top: auto; }
  .field-with-simplemde.tabs-helper .editor-toolbar {
    top: auto; } }
