.field-with-simplemde {
    
  .field-content {
    border: 2px solid #ddd;
    &.focused {
      border-color: #8dae28;
    }
  }
  
  .editor-toolbar {
    padding: 0;
    text-align: center;
    border: none;
    border-bottom: 1px solid #EFEFEF;
    background: white;
    opacity: 1;
    border-radius: 0;    
    position: sticky;
    top: 0px;
    z-index: 10;
    
    .editor-toolbar-inner {
      position: relative;
      z-index: 2;
      white-space: nowrap;
      max-width: calc(100vw - 3em);
      overflow: auto;
    }
    
    &:before, &:after {
      display: none;
    }
    
    a {
      color: rgb(119, 119, 119) !important;
      border: none;
      border-radius: 0;
      font-size: 14px;
      &:hover, &.highlighted {
        background: none;
        border: none;
        color: black !important;
      }
      &:focus {
        outline: none;
      }
      
      &.fa-header-1, &.fa-header-2, &.fa-header-3 {
        &:after {
          font-size: 11px;
          top: 1px;
        }
      }
    }
    
    & > .pages {
      display: none;
      border-top: 1px solid #efefef;
      max-height: 450px; // Max height of 10 pages
      overflow: auto;
      .page {
        width: 100%;
        &:last-child .pagename {
          border-bottom: none;
        }
        .pagename {
          width: 100%;
          display: table;
          border-bottom: 1px solid #efefef;
          span.name {
            padding: 0.75em 1em;
            display: table-cell;
            vertical-align: middle;
            text-align: left;
          }
          span.smallbox {
            padding: 0.75em 1em;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 3.5em;
            border-left: 1px solid rgba(0, 0, 0, .075);
            font-weight: bold;
            &.smalllink {
              &.active {
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
        
        .children {
          display: none;
          border-bottom: 1px solid #efefef;
          .pages {
            &[data-depth="2"] {
            	background-color: rgba(0, 0, 0, .025);
            }
            &[data-depth="3"] {
            	background-color: rgba(0, 0, 0, .05);
            }
            &[data-depth="4"] {
            	background-color: rgba(0, 0, 0, .075);
            }
            &[data-depth="5"] {
            	background-color: rgba(0, 0, 0, .1);
            }
            &[data-depth="6"] {
            	background-color: rgba(0, 0, 0, .125);
            }
          }
        }
        
        &.slid > .pagename .slidedown i{
          transform: rotate(180deg);
        }
      }
    }
    
  }
  
  &.tabs-helper .editor-toolbar {
    top: 63px;
  }
  
  .CodeMirror {
    border-radius: 0;
    border: none;
    &.CodeMirror-over {
      border-color: black;
    }
    .cm-formatting {
      opacity: .5;
    }
  }
  
  &.kirbytag-highlighting {
    .cm-kirbytag {
      background: rgba(#8dae28,.2);
      border-radius: 2px;
    }
  }
}

@media screen and (max-height: 700px) , screen and (max-width: 50em) {
	.field-with-simplemde {
	  .editor-toolbar {
	  	position: relative;
	  	top: auto;
	  }
	  &.tabs-helper .editor-toolbar {
	    top: auto;
	  }
	}
}